/* 
    Document   : layout
    Author     : Aram Timofeitchik
    Description: base page layout style sheet
*/

body { 
    margin-left: 20px;    
    overflow: hidden;
    padding: 0 0 0 0;
}

header h1{  
    vertical-align: middle;
}

header h2{  
    vertical-align: middle;
}

nav {
    display: table-row;
    position: relative;
    width: 100%;
}

nav ul {
    padding: 0;
    vertical-align: middle;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    margin: 10px;
}

article {
    margin-top: 10px;
}

aside {
    display: inline;
    float: left;
    margin-right: 20px;
    width: 180px;
}

aside h1 {
    margin: 5px;
    display: block;
}

aside ul {
    margin: 0;
    padding: 0;
}

aside ul li {
    display: block;
    margin: 5px;
}

aside ul li a.node {
    display: block;
}

aside ul li a.subnode {
    display: block;
    padding-left: 20px;
}

section#main {
    display: inline;
}

footer {
    position: absolute;
    margin: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    overflow:hidden;
}
